body {
    background-color: rgb(228, 92, 74);
  }
  
  h1 {
    color: rgb(25, 0, 255);
    font-family: Arial;
    margin-left: 20px;
  }

  h3 {
    color: rgb(25, 0, 255);
    font-family: Arial;
    margin-left: 20px;
  }